ipython==8.18.1
jupyter==1.0.0
matplotlib==3.8.2
numpy==1.26.2
  # via
  #   scikit-learn
  #   scipy
  #   xgboost
pandas==2.1.3
scikit-learn==1.3.2
scipy==1.11.4
  # via
  #   scikit-learn
  #   xgboost
xgboost==2.0.2